@import "tailwindcss";

:root {
  --White: #FFF;
  --Black: #000000;

  --background: #F9F7F6;
  --foreground: #171717;


  --Gray_1: #EEEEEE;
  --Gray_2: #DADADA;
  --Gray_3: #BBBBBB;
  --Gray_4: #8D8D8D;
  --Gray_5: #5C5C5C;
  --Gray_6: #434343;
  --Gray_7: #2C2C2C;

  --Secondary_3: #FFF5B1;
  --Secondary_2: #FFD86D;
  --Secondary_1: #FCE2A9;


  --Subbrown_4: #EAE5E2;
  --Subbrown_3: #D2C5B6;
  --Subbrown_2: #BBAA9B;
  --Subbrown_1: #A19182;

  
  --primary_3: #5E4A40;
  --primary_2: #9A7A6B;
  --primary_1: #7B6154;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Colors */
  --color-White: var(--White);
  --color-Black: var(--Black);

  --color-Gray-1: var(--Gray_1);
  --color-Gray-2: var(--Gray_2);
  --color-Gray-3: var(--Gray_3);
  --color-Gray-4: var(--Gray_4);
  --color-Gray-5: var(--Gray_5);
  --color-Gray-6: var(--Gray_6);
  --color-Gray-7: var(--Gray_7);

  --color-Secondary-1: var(--Secondary_1);
  --color-Secondary-2: var(--Secondary_2);
  --color-Secondary-3: var(--Secondary_3);

  --color-Subbrown-1: var(--Subbrown_1);
  --color-Subbrown-2: var(--Subbrown_2);
  --color-Subbrown-3: var(--Subbrown_3);
  --color-Subbrown-4: var(--Subbrown_4);

  --color-primary-1: var(--primary_1);
  --color-primary-2: var(--primary_2);
  --color-primary-3: var(--primary_3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard Variable", Pretendard, system-ui, sans-serif;
}

@layer utilities {
  /* Headline */
  .Headline_1 { @apply text-[48px] font-bold leading-[135%] tracking-[-0.1%]; }
  .Headline_2 { @apply text-[36px] font-bold leading-[135%] tracking-[-0.1%]; }
  .Headline_3 { @apply text-[32px] font-bold leading-[135%] tracking-[-0.1%]; }

  /* Subhead */
  .Subhead_1 { @apply text-[24px] font-semibold leading-[135%] tracking-[-0.1%]; }
  .Subhead_2 { @apply text-[20px] font-semibold leading-[135%] tracking-[-0.1%]; }
  .Subhead_3 { @apply text-[20px] font-semibold leading-[135%] tracking-[-0.02px];}
  .Subhead_3_1 { @apply text-[18px] font-semibold leading-[135%] tracking-[-0.1%]; }
  .Subhead_3_2 { @apply text-[18px] font-medium leading-[135%] tracking-[-0.1%]; }
  .Subhead_4_1 { @apply text-[18px] font-medium leading-[135%] tracking-[-0.018px]; }

  /* Body */
  .Body_1 { @apply text-[14px] font-semibold leading-[145%] tracking-[-0.014px] truncate; }
  .Body_1_1 { @apply text-[14px] font-semibold leading-[145%] tracking-[-0.014px]; }
  .Body_1_2 { @apply text-[14px] font-medium leading-[145%] tracking-[-0.014px] ; }
  .Body_1_3 { @apply text-[14px] font-normal leading-[145%] tracking-[-0.014px]; }
  .Body_2_1 { @apply text-[12px] font-semibold leading-[145%] tracking-[-0.012px]; }
  .Body_2_2 { @apply text-[12px] font-medium leading-[145%] tracking-[-0.012px]; }
  .Body_2_3 { @apply text-[12px] font-normal leading-[145%] tracking-[-0.012px]; }

  /* Caption */
  .Caption_1_1 { @apply text-[12px] font-semibold leading-[145%] tracking-[-0.012px]; }
  .Caption_1_2 { @apply text-[12px] font-medium leading-[145%] tracking-[-0.012px]; }
}